{% extends "base.html" %}

{% block title %}
Установка ЛЧ-35-11/600 - гидроочистка и риформование бензина.
{% endblock %}

{% block nko_header %}
ЛЧ-35-11/600
{% endblock %}

{% block content %}
 <main class="container">
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Поиск по названию, позиции или инвентарному номеру...">
        <button id="search-button">Найти</button>
    </div>
    <div class="filters">
        <div class="filter-row">
            <div class="filter-group">
                <label for="category-filter">Категория</label>
                <select id="category-filter">
                    <option value="">Все категории</option>
                    {% for cat in categories %}
                        {% if not cat.parent %}
                            <option value={{ cat.pk }}>{{ cat.title }}</option>
                        {% else %}
                            <option value={{ cat.pk }}>{{ cat }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
                
            <div class="filter-group">
                <label for="sort-by">Сортировать по</label>
                <select id="sort-by">
                    <option value="position">Позиция</option>
                    <option value="label">Название</option>
                    <option value="inventory_number">Инвентарный номер</option>
                </select>
            </div>
        </div>
    </div>

    <div class="equipment-grid" id="equipment-container">
        <!-- Equipment cards will be generated here -->
    </div>

    {% if equipment.has_other_pages %}
    <div class="pagination" id="pagination">
        {% if equipment.has_previous %}
            <a href="?page=1" class="pagination-btn">««</a>
            <a href="?page={{ equipment.previous_page_number }}" class="pagination-btn">‹</a>
        {% endif %}
        
        {% for num in equipment.paginator.page_range %}
            {% if equipment.number == num %}
                <button class="pagination-btn active">{{ num }}</button>
            {% elif num > equipment.number|add:'-3' and num < equipment.number|add:'3' %}
                <a href="?page={{ num }}" class="pagination-btn">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if equipment.has_next %}
            <a href="?page={{ equipment.next_page_number }}" class="pagination-btn">›</a>
            <a href="?page={{ equipment.paginator.num_pages }}" class="pagination-btn">»»</a>
        {% endif %}
    </div>
    {% endif %}
    </main>


 <script>
    const equipmentData = []
    {% for item in equipment %}
        equipmentData.push({
            'id': {{ item.id }},
            'category': "{{ item.category_id }}",
            'position': "{{ item.position }}",
            'label': "{{ item.label }}",
            'inventory_number': "{{ item.inventory_number }}",
            'slug': "{{ item.slug }}",
            'description': "{{ item.description }}",
            'image': "{{ item.image.url }}",
            'manufacturer': "{{ item.manufacturer }}",
        });
    {% endfor %}
        
    // Function to render equipment cards
    function renderEquipment(equipment) {
        const container = document.getElementById('equipment-container');
        container.innerHTML = '';
            
        equipment.forEach(item => {
            const card = document.createElement('div');
            card.className = 'equipment-card';
            card.innerHTML = `
                <div class="card-image">
                    <a href="equipment/${item.slug}/"><img src="${item.image}" alt="${item.label}"></a>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-9">
                            <div class="card-label">
                                <h3>${item.manufacturer}</h3>
                                <h5>${item.label}</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-position text-end">${item.position}</div>
                        </div>
                    </div>
                
                        
                    <div class="card-details">
                        <div class="detail-item">
                            <span class="detail-label small">Категория:</span>
                            <span class="small">${item.category}</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label small">Инвeнтарный номер:</span>
                            <span class="small">${item.inventory_number}</span>
                        </div>
                    </div>
                        
                    <div class="card-description">
                        <p>${item.description}</p>
                    </div>
                </div>
            `;
            container.appendChild(card);
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        renderEquipment(equipmentData);
            
        // Add event listeners for filtering and searching
        document.getElementById('search-button').addEventListener('click', performSearch);
        document.getElementById('search-input').addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                performSearch();
            }
        });
            
        document.getElementById('category-filter').addEventListener('change', filterEquipment);
        document.getElementById('sort-by').addEventListener('change', sortEquipment);
    });

    // Search function
    function performSearch() {
        const searchTerm = document.getElementById('search-input').value.toLowerCase();
            
        const filteredEquipment = equipmentData.filter(item => {
            return (
                item.label.toLowerCase().includes(searchTerm) ||
                item.position.toLowerCase().includes(searchTerm) ||
                item.inventory_number.toLowerCase().includes(searchTerm)
            );
        });
            
        renderEquipment(filteredEquipment);
    }

    // Filter function
    function filterEquipment() {
        const categoryFilter = document.getElementById('category-filter').value;
        console.log(categoryFilter)
            
        if (!categoryFilter) {
            renderEquipment(equipmentData);
            return;
        }
        
        const filteredEquipment = equipmentData.filter(item => {
            return item.category === categoryFilter;
        });
        console.log(filteredEquipment) 
        renderEquipment(filteredEquipment);
    }
    
        // Sort function
    function sortEquipment() {
        const sortBy = document.getElementById('sort-by').value;
            
        const sortedEquipment = [...equipmentData];
            
        sortedEquipment.sort((a, b) => {
            if (a[sortBy] < b[sortBy]) return -1;
            if (a[sortBy] > b[sortBy]) return 1;
            return 0;
        });
            
        renderEquipment(sortedEquipment);
    }
</script>
{% endblock %}