{% extends "base.html" %}

{% block title %}
    {{ equipment.position }} - {{ equipment.label }}
{% endblock %}

{% block nko_header %}
    ЛЧ-35-11/600
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        
        <div class="row">
            
            <div class="col-9">
                <h3>{{ equipment.position }}</h3>
                <h5>{{ equipment.label }}</h5>
                <p>{{ equipment.category }}</p>
            </div>
            
            <div class="col">
                <p>ИНВЕНТАРНЫЙ НОМЕР</p><h3>{{ equipment.inventory_number }}</h3>
            </div>
        </div>
        <br>
        <img src="{{ equipment.image.url }}" class="img-fluid rounded mx-auto d-block" alt="{{ equipment.label }}">
        <br><br>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Подшипники.</h5>
                {% for bear in equipment.bearings.all %}
                    <div class="col-2 text-center">
                        <img src="{{ bear.image.url }}" class="rounded mx-auto d-block img-thumbnail" alt="{{ bear }}">
                    </div>
                    <div class="col text-center">
                        <span>{{ bear }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <h5 class="text-end">Торцевое уплотнение.</h5>
            </div>
        </div>
    </div>

    <br><br>
    <div class="container">
        <h5>Примечание.</h5>
        <p class="lead">{{ equipment.description }} </p>
    </div>
    <br><br>
    
{% endblock  %}